# Vivado generated/cache files
.Xil/
*.jou
*.log
*.pb
*.wdb
*.wdf
*.rpt
*.rpx
*.dcp
*.vds
*.vdi
*.xml
*.html

RISCV_FPGA.cache/
RISCV_FPGA.hw/
RISCV_FPGA.ip_user_files/
RISCV_FPGA.runs/
RISCV_FPGA.sim/
xsim.dir/
RISCV_FPGA.srcs/sources_1/ip/*/hdl/
RISCV_FPGA.srcs/sources_1/ip/*/synth/
RISCV_FPGA.srcs/sources_1/ip/**/*_ooc.xdc
RISCV_FPGA.srcs/sources_1/ip/**/*_sim_netlist.*
RISCV_FPGA.srcs/sources_1/ip/**/*_stub.*
RISCV_FPGA.srcs/sources_1/ip/**/*.veo
RISCV_FPGA.srcs/sources_1/ip/**/*.vho

# Generated reports / local artifacts
*.aux
*.out
*.toc
*.pdf
dram_dump.txt
webtalk*.backup.*
xsim_*.backup.*

# Python cache
__pycache__/
*.pyc
